rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permisos completos para el sistema de control de ayudas humanitarias y entornos dev
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
